.page_button {
    display: flex;
    justify-content: end;
    color: white;
    margin-bottom: 10px;
}
.page_button_content{
    display: flex;
    
}
.page_button_content div{
    margin: 17px 5px 0 ;
}
