.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*******************custom css**************************/
.container {
  max-width: 1230px;
  margin: 0 auto;
}

body {
  /* background: #04131E; */
  background-image: url(./Components/Images/banner-bg1.png);
  font-family: "Inter", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-top {
  padding: 15px 0px;
}

.header-top .left-header,
.header-top .right-header {
  width: 50%;
  float: left;
}

.container:after {
  clear: both;
  content: "";
  display: block;
}

.left-header {
  text-align: left;
}

.right-header {
  padding: 0px 0px;
}

.right-header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}

.right-header ul li:last-child {
  padding: 0px;
}

.right-header ul li {
  padding: 0px 20px 0px 0px;
}

.right-header ul li a {
  color: #b3cee2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  padding: 9px 21px;
  display: flex;
  align-items: center;
  border: 1px solid #0464bd;
  border-radius: 5px;
}

img.noti {
  width: 25px;
  height: 25px;
}

.right-header ul li a img {
  padding-right: 10px;
  width: 30px;
  height: 23px;
}

.right-header ul li:first-child:after {
  content: "";
  width: 1px;
  height: 20px;
  background: #b3cee2;
  position: absolute;
  right: 0;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-header ul li:first-child {
  position: relative;
  margin-right: 20px;
}

.content-section {
  text-align: left;
  color: #fff;
}

.content-section h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  align-items: center;
  color: #f0f9ff;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 100px;
  letter-spacing: -1.94px;
}

.content-section h1 span {
  color: #ffba00;
  letter-spacing: 1px;
  font-weight: 900;
  display: block;
  text-transform: uppercase;
}

.content-section p {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f0f9ff;
  align-items: center;
}

.content-section h4 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.home-content-buttn ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.home-content-buttn ul li.loginbtn {
  margin-right: 30px;
}

.home-content-buttn ul li a {
  color: #b3cee2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  padding: 9px 20px;
  display: flex;
  align-items: center;
  border: 1px solid #0464bd;
  border-radius: 5px;
  letter-spacing: -0.01em;
  justify-content: space-evenly;
  width: 90%;
}

.product-sortss table .media_table tr {
  width: 100%;
  border-spacing: 0 14px;
}

table.table.table-hover.media_table {
  border-spacing: 0 14px;
  width: 100%;
}
/* .product-sortss table.table.table-hover.media_table tr {
  width: 100%;
  border-spacing: 0 14px;
  
}
.product-sortss table.table.table-hover.media_table tr:hover {
  border-spacing: 0 14px;
} */

/* chart */

path.recharts-curve.recharts-line-curve {
  stroke-width: 3px;
}
.select-wrap {
  border-radius: 4px;
  padding: 0 5px;
  width: 200px;
  position: relative;
}
.select-wrap label {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  position: absolute;
  top: 6px;
  right: 6px;
}
table tr:hover td:last-child,
th:last-child {
  border-right: 0;
}

select {
  border: 0px;
  height: 50px;
  font-size: 16px;
}
.recharts-surface {
  width: 100%;
}
.recharts-legend-wrapper {
  bottom: -20px !important;
  display: none;
}
li.recharts-legend-item.legend-item-0 {
  /* display: none; */
}
.recharts-wrapper {
  /* overflow-y: auto; */
  /* width: inherit !important; */
}

/* chart */

.product-sortss {
  margin-top: 20px;
}
th.head_sno {
  width: 0%;
}
th.head_trader {
  width: 15%;
}

/* .body_follow:hover input.btn.btn-primary {
  background: transparent;
  color: #FFBA00 !important;
} */

.follow:hover {
  background: transparent !important;
  color: #ffba00 !important;
}
.Favorite {
  background: transparent !important;
  color: #ffba00 !important;
}
.Favorite:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      265.56deg,
      #f3ba2f -0.27%,
      #ffba00 -0.26%,
      #eec124 69.03%,
      #ffba00 98.59%
    ) !important;
  border: 1px solid #c9a149 !important;
  color: #041624 !important;
}
.ctt tr.sub-body {
  background: #0e1a29;
  border-radius: 5px;
}
table tr td:nth-child(n + 1),
th:nth-child(n + 1) {
  border-bottom: 1px solid #061723;
  border-top: 1px solid #061723;
}

td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #061723;
}
td:last-child,
th:last-child {
  border-left: 1px solid #061723;
  border-radius: 0 5px 5px 0;
}
tr:focus-visible {
  outline: 1px solid #0464bd !important;
}

table tr:hover td:first-child,
th:first-child {
  border-left: 1px solid #0464bd;
}
table tr:hover td:last-child,
th:last-child {
  border-right: 1px solid #0464bd;
}
table tr:hover td {
  border-bottom: 1px solid #0464bd;
}
table tr:hover td {
  border-top: 1px solid #0464bd;
}

/* .table tr:hover td:nth-last-child(-n + 9) , th:nth-child(-n + 8){
  border-top: 1px solid #0464BD;
  border-bottom: 1px solid #0464BD;

}  */

/* table css */

.home-content-buttn ul li.loginbtn a {
  border: 1px solid #154fc2;
  background: transparent;
  border-radius: 5px;
}

.home-content-buttn ul li.loginbtn a img {
  padding-right: 10px;
  width: 30px;
  height: 23px;
}

.home-content-buttn li.tradebtn a {
  padding: 14px 20px;
  background: #0e1a29;
  border: 1px solid #0e1a29;
  border-radius: 5px;
}

.home-content-buttn li a,
.right-header ul li:last-child a {
  transition: all ease-in-out 0.6s;
  position: relative;
}

.home-content-buttn li.tradebtn a:hover,
.home-content-buttn ul li.loginbtn a:hover,
.right-header ul li:last-child a:hover {
  background: #154fc2;
  border: 1px solid #154fc2;
  color: #fff;
  transition: all ease-in-out 0.6s;
}

.right-header ul li:last-child a:hover:before,
.home-content-buttn li.tradebtn a:hover:before,
.home-content-buttn ul li.loginbtn a:hover:before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.6s;
  content: "";
  background: transparent !important;
  z-index: -1;
}

.right-header ul li:last-child a:before,
.home-content-buttn li.tradebtn a:before,
.home-content-buttn ul li.loginbtn a:before {
  height: 100%;
  width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.6s;
  content: "";
  background: #fff;
  z-index: -1;
}

.center-footer ul li a,
.footer-section .container .right-footer ul li p {
  text-decoration: none;
  transition: cubic-bezier(1, 0.38, 0, 1.62) 0.5s;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #b3cee2;
  margin: 0 auto;
}

.footer-section .container {
  border-top: 0px solid #0464bd;
}

.footer-section .container .right-footer ul li a:after {
  position: absolute;
  content: "";
  height: 15px;
  width: 1px;
  background: #b3cee2;
  right: 0px;
  top: 3px;
}

.footer-section .container .right-footer ul li:last-child a {
  padding-right: 0px;
}

.footer-section .container .right-footer ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  position: relative;
  align-items: center;
  letter-spacing: -0.01em;
  color: #b3cee2;
  padding: 0px 10px;
  text-decoration: none;
  position: relative;
}

.right-footer ul li:first-child {
  margin-right: 3px;
}

.footer-section .container .right-footer ul li:last-child a:after {
  content: normal;
}

.footer-section .container .right-footer ul li a:hover {
  transition: all ease-in-out 0.6s;
  color: #ffba00;
}

.footer-section .container .right-footer ul li:nth-child(2) a {
  padding-left: 0px;
}

.footer-section {
  clear: both;
  margin-top: 20px;
}

.footer-section .container {
  padding-top: 0px;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
}

.left-footer {
  text-align: left;
  width: 50%;
  float: left;
}

.center-footer {
  width: 30%;
  float: left;
}

.right-footer {
  width: 75%;
  text-align: right;
  float: left;
}

.center-footer ul {
  justify-content: space-between;
}

.center-footer ul,
.right-footer ul {
  padding: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  list-style: none;
}

.right-footer ul li:first-child {
  margin-right: 3px;
}

.center-footer ul li:last-child {
  margin: 0px;
}

.center-footer ul li {
  margin-right: 20px;
}

.center-footer ul li a:hover {
  color: #fff;
  transition: cubic-bezier(1, 0.38, 0, 1.62) 0.5s;
}

.container.mbl-container {
  border-top: 0px solid #0464bd;
  text-align: center;
  display: none;
}

p.mbl-copyrights {
  transition: cubic-bezier(1, 0.38, 0, 1.62) 0.5s;
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #1c4e76;
  text-align: center;
  width: 100%;
}

.faqs {
  margin: 0 auto;
  text-align: left;
}

.faqs .faq-question {
  position: relative;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  display: flex;
  color: #b3cee2;
}

.faqs .faq.open .faq-answer {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #f0f9ff;
  padding-right: 41%;
}

.product-sortss thead tr th button {
  background: transparent;
  color: #b3cee2;
  padding: 0px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  border: 0px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
}

.body_follow button.btn.btn-primary {
  border-radius: 5px;
  padding: 7px 22px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      265.56deg,
      #f3ba2f -0.27%,
      #ffba00 -0.26%,
      #eec124 69.03%,
      #ffba00 98.59%
    );
  border: 1px solid #c9a149;
  font-weight: 500;
  color: #041624;
  font-size: 12px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.body_follow input.btn.btn-primary {
  border-radius: 5px;
  padding: 7px 15px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      265.56deg,
      #f3ba2f -0.27%,
      #ffba00 -0.26%,
      #eec124 69.03%,
      #ffba00 98.59%
    );
  border: 1px solid #c9a149;
  font-weight: 500;
  color: #041624;
  font-size: 15px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  width: 100px;
  cursor: pointer;
  transition: 0.6s;
}
.product-sortss table.table.table-hover.media_table td.body_sno,
table.table.table-hover.media_table td.body_trader {
  font-style: normal;
  font-weight: 600;
  padding: 20px 4px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 19px;
  align-items: center;
  color: #f0f9ff;
}

thead button.ascending::after {
  color: #b3cee2;
}
select:focus-visible {
  outline: none;
}
input:focus-visible {
  outline: none;
}

table.table.table-hover.media_table td.body_trader {
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 12px 10px;
  /* max-width: 130px; */
  margin: 0 auto;
}

.product-sortss table.table.table-hover.media_table td.body_profitloss h6,
.product-sortss table.table.table-hover.media_table td.body_trades h6,
.product-sortss table.table.table-hover.media_table td.body_traderequity h6,
.product-sortss table.table.table-hover.media_table td.body_followerequity h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #00ba80;
}

.product-sortss table.table.table-hover.media_table td.body_profitloss p,
.product-sortss table.table.table-hover.media_table td.body_trades p,
.product-sortss table.table.table-hover.media_table td.body_traderequity p,
.product-sortss table.table.table-hover.media_table td.body_followerequity p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #b3cee2;
}

.product-sortss table.table.table-hover.media_table td.body_follower,
.product-sortss table.table.table-hover.media_table td.body_openposition {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: left;
  color: #b3cee2;
}

.product-sortss {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.product-sortss table.table.table-hover.media_table td.body_profitloss h6,
.product-sortss table.table.table-hover.media_table td.body_profitloss p,
.product-sortss table.table.table-hover.media_table td.body_trades h6,
.product-sortss table.table.table-hover.media_table td.body_trades p,
.product-sortss table.table.table-hover.media_table td.body_traderequity h6,
.product-sortss table.table.table-hover.media_table td.body_traderequity p,
.product-sortss table.table.table-hover.media_table td.body_followerequity h6,
.product-sortss table.table.table-hover.media_table td.body_followerequity p {
  margin: 0 auto;
  text-align: left;
}

.faq {
  margin-bottom: 10px;
  background: #0e1a29;
  padding: 25px;
  border-radius: 8px;
}

.faq-sectionss h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffba00;
  text-align: left;
  padding-left: 30px;
}

.faq:last-child {
  border: 0px;
}

/* .faqs .faq-answer {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0E1A29;
} */

.faqs {
  font-size: 20px;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  font-size: 45px;
  font-weight: 300;
  right: 0px;
  color: #f3ba2f;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 20px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
  top: 50px;
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

.faq-sectionss {
  margin: 40px 0px 0px 0px;
}

.home-content-buttn:after {
  content: "";
  clear: both;
  display: block;
}

.right-footer ul {
  display: flex;
  align-items: center;
}

.product-sortss thead tr th {
  border: 2px solid #495d75;
  padding: 10px 0px;
  border-left: 0px;
  border-right: 0px;
  color: #b3cee2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0px;
}
.product-sortss thead tr th:nth-child(2) {
  text-align: left;
  width: 14%;
  padding-left: 20px;
}
.product-sortss thead tr th:nth-child(3) {
  width: 10%;
}
.product-sortss thead tr th:nth-child(4) {
  width: 10%;
}
.product-sortss thead tr th:nth-child(5) {
  width: 10%;
}

.product-sortss thead tr th:nth-child(6) {
  text-align: left;
  width: 10%;
}
.product-sortss thead tr th:nth-child(9) {
  text-align: left;
  width: 10%;
}
.media-right-footer {
  display: none;
}

.telegram_display {
  margin-left: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* navbar mobile css */
.header-top {
  display: block;
}
.mobmenu {
  display: none;
}

/* navbar mobile css */

/* select button */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  text-align: center;
  border: none !important;
  margin-top: 6px;
  color: white !important;
  appearance: none;
  outline: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  padding-top: 10px;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  border-color: #154fc2;
  background: #0e1a29 !important;
  border-width: 1.5px;
  border-style: solid;
  color: #b3cee2;
  border-color: #154fc2;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.01em;
  border-radius: 5px;
}

select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  border: 1px solid #0464bd;
  display: flex;
  width: 106px;
  line-height: 2;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: url(./Components/Images/Vector.svg);
  position: absolute;
  top: 18px;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
.color_red {
  color: red;
}

/************************************* Profile page CSS *************************************/

.profile-design h3 {
  text-align: left;
}
.profile-box.box-bdr-bg {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
}
.profile-box h4 {
  color: #fff;
  font-size: 18px;
  margin-top: 0;
  font-family: "Open Sans";
  margin-bottom: 0;
  margin-left: 23px;
}
.profiles-badge img {
  width: 69px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 3px #000;
  height: 69px;
  object-fit: cover;
}

img.verify-badge {
  position: absolute;
  bottom: 0;
  right: 0;
}
.profile-imgs {
  position: relative;
}
.main-profiles {
  background: #0e1a29;
  border: 1px solid #0464bd;
  padding: 22px;
  border-radius: 10px;
  width: 25%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-profiles a.btn.btn-primary.fav {
  display: block;
  width: 100%;
}
.main-profiles input.btn.btn-primary {
  width: 100%;
  margin-bottom: 12px;
}
.main-profiles a.btn.btn-primary.fav {
  display: block;
  width: auto;
  text-decoration: none;
  border: 1px solid #c7960a;
  color: #c7960a;
  border-radius: 5px;
  padding: 7px 15px;
  transition: 0.6s;
}
input.btn.btn-primary.favs {
  background: no-repeat;
  color: #ca9605;
  transition: 0.6s;
}

/* .Favorite:hover {
  background: #CA9605;
  color: #041624 !important;
  transition: 0.6s;
} */
.icon-boxs {
  background: #0e1a29;
  border: 1px solid #0464bd;
  padding: 22px;
  border-radius: 10px;
  color: #f0f9ff;
  text-align: left;
  width: 100%;
  margin-left: 21px;
  margin-bottom: 21px;
  position: relative;
}
.icon-boxs h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Open Sans";
  margin-top: 11px;
}
.icon-box-main {
  display: flex;
  justify-content: space-between;
}
.common-profiles {
  display: flex;
  justify-content: space-between;
}

.icon-boxs h4 {
  margin-top: 9px;
  font-weight: 400;
  margin-bottom: 0;
}
.profit-c {
  color: #00ba80;
}
.number-box {
  width: 75%;
}
.container-f {
  width: 1330px;
  margin: 0 auto;
}
.yellow {
  color: #f3ba2f;
}

.trader-rank {
  display: flex;
  justify-content: space-between;
  background: #0e1a29;
  border: 1px solid #0464bd;
  padding: 22px;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
  margin-left: 21px;
  align-items: center;
}
.schedule-ranks h4 {
  color: #f0f9ff;
  font-size: 18px;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 700;
}
.ranks h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.schedule-ranks p {
  margin-top: 0;
  font-size: 14px;
}
.schedule-ranks {
  width: 21.25%;
}
.ranks {
  width: 25%;
}
.main-profiles .body_follow {
  width: 100%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 134px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: #bbd8fa;
  font-size: 13px;
  line-height: 20px;
  background: #04131e;
  border-radius: 10px 10px 0 10px;
  text-align: left;
  padding: 14px;
  top: -73px;
  right: 23px;
}
.tooltipico {
  position: absolute;
  top: 8px;
  right: 8px;
}
.statistics-main {
  background: #0e1a29;
  color: #ffffff;
  padding: 22px;
  border-radius: 10px;
  padding-left: 43px;
  padding-bottom: 50px;
  margin-top: 50px;
}
.statistics-colm-main {
  display: flex;
  flex-wrap: wrap;
}
.statistics-con-box h4 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 8px;
}
.statistics-con-box p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

.statistics-con-box {
  width: 15.6%;
  text-align: left;
  margin-right: 21px;
  margin-bottom: 21px;
  border-radius: 10px;
  padding: 16px;
  background: #0e1a29;
  border: 1px solid #0464bd;
}
h4.red {
  color: #eb5853;
}
.mainopen {
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #0464bd;
}
h4.blue {
  color: #21a4f1;
}
.openposition span {
  color: #e25353;
  padding-right: 5px;
}
.openposition span:last-child {
  color: #f3ba2f;
  padding-left: 5px;
}
.opsymbol {
  color: white !important;
}
td.openrol {
  color: #eb5853 !important;
}
td.openpnl {
  color: #eb5853 !important;
}

.statistics-main h3 {
  margin-bottom: 31px;
  font-size: 24px;
}
.graph-main {
  background: #0e1a29;
  color: #ffffff;
  padding: 20px 43px 90px 43px;
  border-radius: 10px;
  margin-top: 50px;
}
.proformance-colms {
  display: flex;
  justify-content: space-between;
}
.proformance-colms h3 {
  font-size: 24px;
  color: #f0f9ff;
}

.table-user table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-user td,
.table-user th {
  text-align: left;
  padding: 18px;
  color: #b3cee2;
}

.table-user tr {
  background-color: #041624;
  border-right: 1px;
}
table.table-user {
  width: 100%;
  border-spacing: 0;
}
table.table-user th {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.table-user tr td:nth-child(n + 1),
th:nth-child(n + 1) {
  border-bottom: 5px solid #0e1a29;
  border-top: 5px solid #0e1a29;
  border-left: 0;
  border-right: 0;
}
.table-user tr:first-child th {
  border-top: 1px solid #6b7385;
  border-bottom: 1px solid #6b7385;
  border-left: 0;
  border-radius: 0;
  border-radius: 0;
  padding: 15px 20px;
}
.phsymbol p {
  margin: 0;
  margin-bottom: 4px;
}
.phshort {
  color: #e25353;
  padding-right: 5px;
}
.phnroi {
  color: #e25353 !important;
}
.phproi {
  color: #00ba80 !important;
  padding-right: 5px;
}
.phyellow {
  color: #f3ba2f !important;
  padding-left: 5px;
  padding-right: 5px;
}
.phsymbol {
  color: white !important;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.phlvymbol {
  color: #21a4f1 !important;
  padding-right: 5px;
}
.table-user tr:hover td:first-child,
th:first-child {
  border-left: 0;
  border-right: 0 !important;
}

.table-main {
  overflow-x: auto;
}
.proformance-colms .table_top_a {
  display: flex;
  gap: 10px;
  justify-content: end;
  width: 100%;
}

/*************responsive css************/

@media (max-width: 1350px) {
  .container-f {
    width: 95%;
  }
  .statistics-con-box {
    margin-right: 18px;
  }
}
@media (max-width: 1160px) {
  .graphtop{
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (max-width: 1205px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
  }
  .content-section h1 {
    font-size: 40px;
    line-height: 56px;
    margin-top: 50px;
    letter-spacing: -1.94px;
  }
  .statistics-con-box {
    width: 14.6%;
  }
}
@media (max-width: 992px) {
  .product-sortss table.table .table-hover.media_table td.body_profitloss h6,
  .product-sortss table.table.table-hover.media_table td.body_trades h6,
  .product-sortss table.table.table-hover.media_table td.body_traderequity h6,
  .product-sortss
    table.table.table-hover.media_table
    td.body_followerequity
    h6 {
    font-size: 10px;
    line-height: 18px;
    align-items: center;
    color: #00ba80;
  }
  .product-sortss table.table.table-hover.media_table td.body_profitloss h6,
  .product-sortss table.table.table-hover.media_table td.body_trades h6,
  .product-sortss table.table.table-hover.media_table td.body_traderequity h6,
  .product-sortss
    table.table.table-hover.media_table
    td.body_followerequity
    h6 {
    font-size: 10px;
    line-height: 16px;
  }
  .product-sortss table.table.table-hover.media_table td.body_profitloss p,
  .product-sortss table.table.table-hover.media_table td.body_trades p,
  .product-sortss table.table.table-hover.media_table td.body_traderequity p,
  .product-sortss table.table.table-hover.media_table td.body_followerequity p {
    font-size: 10px !important;
    line-height: 16px;
  }
  .product-sortss table.table.table-hover.media_table td.body_follower,
  .product-sortss table.table.table-hover.media_table td.body_openposition {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
  }
  .product-sortss table.table.table-hover.media_table td.body_sno,
  table.table.table-hover.media_table td.body_trader {
    font-size: 12px;
    line-height: 16px;
  }
  .trader_img {
    width: 32px;
    height: 32px;
  }
  .common-profiles {
    flex-wrap: wrap;
  }
  .icon-box-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-profiles {
    width: 100%;
  }
  .profile-box.box-bdr-bg {
    width: 40% !important;
  }
  .body_follow {
    width: 54% !important;
    display: flex;
  }
  .body_follow {
    display: flex;
  }
  .body_follow div {
    width: 100%;
    margin-right: 14px;
  }
  .body_follow:hover input.btn.btn-primary {
    margin-bottom: 0;
  }
  .number-box {
    width: 100% !important;
    margin-top: 21px;
  }
  .icon-boxs {
    margin-left: 0;
    margin-bottom: 21px;
    position: relative;
    width: 42.4%;
  }
  .main-profiles input.btn.btn-primary {
    margin-bottom: 0;
  }
  .trader-rank {
    margin-left: 0;
  }
  .statistics-con-box {
    width: 26.5%;
    margin: 0;
    margin-bottom: 20px;
  }
  .statistics-main {
    padding: 22px !important;
  }
  .statistics-colm-main {
    justify-content: space-between;
  }
  .graph-main {
    padding: 22px;
  }
}

@media (max-width: 767px) {
  .container.mbl-container {
    display: block;
  }

  .faqs {
    font-size: 20px;
    padding-right: 0px;
    max-width: 95%;
    transition: all 0.4s ease;
    margin: 0 auto;
  }
  .telegram_display {
    display: none;
  }
  .content-section {
    text-align: center;
  }
  .home-content-buttn ul {
    justify-content: center;
  }
  .mobmenu {
    display: block;
  }
  .header-top {
    display: none;
  }
  .select {
    height: 47px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(348.1deg, #04131e 14.25%, #0e1a29 59.14%);
  }
  select {
    border-radius: 5px;
  }
  .right-header ul li a img {
    padding-right: 5px;
  }
  body {
    background-image: url(./Components/Images/mob-banner.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .faqs .faq.open .faq-question::after {
    content: "-";
    top: 16px;
  }
}
@media (max-width: 568px) {
  .graph-main .select {
    height: 58px;
    width: 100px;
  }
  .profile-design {
    margin-top: 21px;
}
}
@media (max-width: 700px) {
  /* .footer-section .container{
    flex-direction: column;
  }

  .left-footer{
    text-align: center;
  } */
  .right-footer {
    width: 100%;
    margin: 5px auto;
  }

  /* }
  .right-footer ul{
    justify-content: center;
  }
  .right-footer ul li:nth-child(1){
    width: 100%;
    
  } */
  /* .right-footer ul li:nth-child(1){
    width: 100%;
  } */
  .icon-boxs {
    width: 41%;
  }
  .ranks {
    width: 30%;
  }
  .statistics-con-box {
    width: 25.2%;
  }
  .profile-box.box-bdr-bg {
    width: 45% !important;
  }
  .statistics-main {
    padding: 14px !important;
  }
  .graph-main {
    padding: 14px;
  }
}

@media (max-width: 636px) {
  .left-footer {
    text-align: center;
  }

  .right-footer {
    display: none;
  }
  .footer-section .container {
    flex-direction: column;
    justify-content: center;
  }

  .media-right-footer {
    display: block;
    font-size: 12px;
    color: rgba(179, 206, 226, 1);
    margin-top: 25px;
  }
  .media-a {
    display: flex;
    flex-direction: row;
  }
  .media-right-footer p {
    margin-bottom: 5px;
  }
  .media-a a {
    color: rgba(179, 206, 226, 1);
    text-decoration: none;
    margin-top: 3px;
    margin-right: 5px;
    font-size: 12px;
  }
  .content-section h1 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .faqs .faq.open .faq-answer {
    padding-right: 0%;
  }
  .icon-boxs {
    width: 39%;
  }
  .trader-rank {
    flex-wrap: wrap;
  }
  .ranks .icon-rank {
    display: flex;
  }
  .ranks {
    width: 100%;
  }
  .schedule-ranks {
    width: 21.25%;
    margin-top: 26px;
  }
  .profile-design .home-content-buttn ul {
    margin-bottom: 16px;
  }
  .statistics-con-box {
    width: 24.2%;
  }
  .profile-box h4 {
    margin-left: 14px;
  }
  .icon-rank img {
    margin-right: 14px;
  }
  .proformance-colms {
    flex-wrap: wrap;
  }
  .profile-design {
    margin-top: 78px;
  }
  .table-user tr td:nth-child(n + 1),
  th:nth-child(n + 1) {
    border-bottom: 5px solid #0e1a29;
    border-top: 5px solid #0e1a29;
    padding: 11px;
    font-size: 15px;
  }
}

@media (max-width: 505px) {
  .content-section h1 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: inherit;
  }

  .content-section p {
    font-size: 14px;
    line-height: 19px;
  }

  .content-section h4 {
    font-size: 18px;
    line-height: 25px;
  }

  .home-content-buttn ul {
    display: block;
    clear: both;
  }

  .home-content-buttn li.tradebtn a {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .home-content-buttn ul li.loginbtn {
    margin-right: 0px;
    width: 240px;
    margin: auto;
  }

  .home-content-buttn ul li.loginbtn a {
    display: block;
    text-align: center;
  }

  .footer-section .container {
    padding-top: 15px;
    align-items: center;
    display: flex;
  }

  .left-footer {
    width: 50%;
    float: left;
  }

  .center-footer {
    width: 30%;
    float: left;
    display: none;
  }

  .right-footer {
    width: 50%;
    text-align: right;
    float: left;
  }

  .right-footer li:last-child {
    display: none;
  }

  .right-footer ul li:first-child {
    margin-right: 0px;
  }

  .right-header ul li a {
    font-size: 11px;
    line-height: 24px;
  }
  .right-header ul li a img {
    height: 13px;
  }
  .right-header ul li a {
    padding: 5px 15px;
  }
  .content-section h1 {
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: bold;
    font-family: "Open Sans";
  }
  .content-section p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 255px;
    margin: auto;
  }
  .content-section h1 span {
    text-transform: capitalize;
  }
  .home-content-buttn ul li.loginbtn a {
    border: 1px solid #154fc2;
    background: transparent;
    border-radius: 5px;
    color: #f0f9ff;
  }

  .home-content-buttn ul li a {
    padding: 9px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #0464bd;
    border-radius: 5px;
    letter-spacing: -0.01em;
  }
  .motmob {
    position: absolute;
    right: 0px;
    background-color: rgb(220, 102, 119);
    color: rgb(0, 0, 0);
    padding: 0px 1px;
    border-radius: 100%;
    font-size: 9px;
    width: 14px;
    display: flex;
    height: 14px;
    top: -1px;
    align-items: center;
    justify-content: center;
  }
  .firstline_a h6,
  .firstline_b h6 {
    font-size: 12px !important;
    line-height: 16px !important;
    color: #b3cee2;
    font-weight: 600 !important;
  }
  .firstline_a p,
  .firstline_b p {
    line-height: 0px !important;
    font-size: 10px !important;
    color: #b3cee2;
    font-weight: 600;
  }
  .home-content-buttn li.tradebtn a:hover,
  .home-content-buttn ul li.loginbtn a:hover,
  .right-header ul li:last-child a:hover {
    color: #f0f9ff;
    transition: all ease-in-out 0.6s;
    background: linear-gradient(348.1deg, #04131e 14.25%, #0e1a29 59.14%);
    border: 1px solid #0464bd;
    border-radius: 5px;
  }
  .faqs .faq .faq-question::after {
    font-size: 30px;
  }
  .faq.open {
    background: #0e1a29;
  }
  .faq-sectionss {
    margin: 70px 0px 0px 0px;
  }
  .pagination_btm {
    margin-top: 0px;
  }
  .home-content-buttn ul li.loginbtn a {
    border: 1px solid #154fc2;
    background: transparent;
    border-radius: 5px;
    color: #f0f9ff;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .profile-box.box-bdr-bg {
    width: 100% !important;
  }
  .body_follow {
    margin-top: 19px;
  }
  .icon-boxs {
    width: 37.2%;
    margin-bottom: 18px;
  }
  .icon-boxs h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .statistics-con-box {
    width: 36.2%;
  }
  .statistics-con-box p {
    font-size: 15px;
    line-height: 20px;
  }

  .main-profiles {
    padding-right: 0;
  }
}
@media (max-width: 350px) {
  .right-header ul li:first-child {
    margin-right: 10px;
  }
  .right-header ul li {
    padding: 0 10px 0 0;
  }
  .content-section {
    text-align: center;
    color: #fff;
  }
}
@media (max-width: 320px) {
  .header-top .container {
    display: flex;
    flex-direction: column;
  }
  .right-header {
    margin-left: auto;
  }
}

/* @media (max-width: 425px) {
  .right-footer ul{
   flex-direction: column;
   align-items: flex-end;
   
  }
  .right-footer ul li span{
    display: none;
    
   }
   .right-footer ul li a{
    padding: 0 !important;
    
   }
   .right-footer li:last-child {
    display: block;
  }
  .right-footer ul li a:after{
    content: none !important;
  }
} */
